
body{
    background-color:#cccccc;
}
#titulo{
  background-color:#1a0c00;
}

#indice{
  background-color:#FF8C00;
}

#e1{
    background-color:#ffad33;
}
#e2{
    background-color:#ffad33;
}
#e3{
    background-color:#ffad33;
}
#e4{
    background-color:#ffad33;
}
#e5{
    background-color:#ffad33;
}
#info{
  background-color:#cccccc;
}

#intro{
    background-color:#ffffff;
}

#historia{
    background-color:#ffffff;
}
#definicion{
    background-color:#ffffff;
}
#economia{
    background-color:#ffffff;
}
#oportunidades{
    background-color:#ffffff;
}
